.section-title {
  margin-bottom: 72px;
  color: var(--navy-blue);
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* ================================== Mobile First ==================================*/

@media screen and (max-width: 767px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

/* ================================== Tablet Style ==================================*/

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
/* ================================== Desktop Style ==================================*/

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
